
<li><a ng-class="{'menu-selected': isActive('/Users/')}" href="/Users/" target="_self">Accounts</a></li>
<li><a ng-class="{'menu-selected': isActive('/Production/')}" href="/Production/" target="_self">Production</a></li>