
<li><a ng-class="{'menu-selected': isActive('/ScoutReport/')}" href="/ScoutReport/" target="_self">Scout Reports</a></li>
@*<li><a ng-class="{'menu-selected': isActive('/LocationAgreement/')}" href="/LocationAgreement/" target="_self">Location Agreements</a></li>*@
<li><a href="~/Files/POWER POINT LOCATION WRAP WORKFLOW.pptx" target="_blank">Location Wrap Manual</a></li>
<li><a href="~/Files/Location Agreement Acknowledgement release TSM hired cleaning services fee.doc" target="_blank">Location Agreement Form</a></li>
<li><a href="~/Files/Location Safety Inspection Form.docx" target="_blank">EHS Safety Form</a></li>