
@{
    Layout = null;
}

<div class="homepage-background">
    <div class="background-img">
        <div class="slide-img slide-img01 active"></div>
        <div class="slide-img slide-img02"></div>
        <div class="slide-img slide-img03"></div>
    </div>
    <div class="homepage-banner">
        <div class="text-center">
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-4">
                    <img class="img-responsive logo-sm" src="~/Img/logo_Telemundo.png" />
                </div>
                <div class="col-xs-8">
                    <h1 class="bold">
                        Telemundo Studios Location Hub
                    </h1>
                </div>
            </div>
            <h1 class="bold hidden-xs">
                <img width="75" src="~/Img/logo_Telemundo.png" />
                Telemundo Studios Location Hub
            </h1>
        </div>
    </div>
</div>
<script src="~/Scripts/home-carousel.js"></script>